* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e19ee4;
  font-family: "Quicksand", sans-serif;
}

.container {
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cat-img {
  width: 40rem;
  height: 40rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 3.6rem;
  color: #f53699;
  text-align: center;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100px;
}

.btn {
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 20px;
  font-family: "Protest Riot", sans-serif;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;  
}

.btn--yes {
  background-color: #40c057;
}

.btn--no {
  background-color: #f03e3e;
}

.hidden {
  display: none;
}








.popup-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  max-height: 80vh;
  z-index: 1000;
  display: block;
  transition: opacity 0.3s;
}

.hidden {
  display: none;
}



.hidden-images-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;

  
}

.hidden-img {


  max-width: 30vw;
  max-height: 30vh;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}
